/* CSS Document */
body {
	background: #EEEEEE;
	top: 0px;
	left: 0px;
	font-family: Verdana;
	font-size: 12px;
}

#wait {
	position: absolute;
	top: 0px; 
	left: 0px; 
	width: 200px;
	height: 20px;
	background-color: #CC0000;
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
}

#corpo {
	position: relative;
	margin: 0 auto;
	background: #0099FF;
	width: 600px;
	height: 270px;
	padding: 10px;
	border: 1px solid #666666;
}

#subcorpo {
	position: relative;
	background: #FFFFFF;
	padding: 10px;
	height: 230px;
}

#titulo {
	position: relative;
	color: #0000AA;
	font-weight: bold;
	width: 570px;
	padding: 5px;
}

#entrada {
	position: relative;
	padding: 20px;
	font-weight: bold;
}

#codigo {
	position: relative;
	font-family: "Courier New";
	font-weight: normal;
	width: 400px;
}

#saida {
	position: relative;
	padding: 20px;
	font-weight: bold;
}

#status{
	position: relative;
	padding: 10px;
	font-weight: normal;
	border: 1px solid;
	height: 50px;
}

#about{
	position: relative;
	text-align: center;
	font-size: 10px;
	color: #cccccc;
}

#controles {
	position: relative;
	text-align: center;
}